video{
    width: 1480px;
    height: 720px;
    background: red;
}
.video {
    display: flex;
    width: 100vw;
    height: 750px;
    justify-content: center;
}
.imagen {
    display: flex;
    width: 100vw;
    height: 750px;
    justify-content: center;
}