.button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:focus { /*es igual que el border solo que no ocupa espacio*/
    outline: #FF0000 solid 2px;
    outline-offset: 5px;
}