.caja1 {
    background: rgb(251, 255, 0);
    height: 100px;
    width: 500px;
    transition-property: left, background;
    transition-duration: 1s;
    position: relative;
    left: 0;
}

.container {
    background: darkblue;
    height: 300px;
    padding: 30px;
}

.caja1:hover {
    background: lightblue;
    transition-timing-function: linear;
    direction: rtl;
}

.caja2 {
    background: rgb(0, 255, 55);
    height: 100px;
    width: 100px;

    animation: desplazarse;
    animation-duration: 1s;
    position: relative;
    animation-iteration-count: 99;
    animation-direction: alternate;
    transition-timing-function: initial;
    letter-spacing: 5px;
    
}

@keyframes desplazarse {
    0% {
left: 0;
background: #025;
    }

    50% {
        background: red;

    }

    100% {
        left: 80%;
        background: green;
    }
}
:root{
    --rojo: rgb(255,0,0);
}
.caja3 {
    background: var(--rojo);
    color: #fff;
    height: 500px;
    width: 500px;
  transform: translate(300px, 200PX) scale(1.5) skew(30deg);
  
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
   
}
.container2{
    background: rgb(0, 139, 132);
    height: 1000px;
    padding: 30px;
    display: flex;
    margin: auto;
    margin-top: 800px;
    flex-direction: column;
   
}
.filtros{
    color: #fff;
    background: rgb(0, 85, 18);
    width: 700px;
    height: 700px;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/12/58/404/planet-4k-background-for-pc-wallpaper-preview.jpg);
    background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
    filter: brightness(1.5)
}